body {
  margin: 0;
  background: linear-gradient(45deg, #054E90 0%, #BCC7D3 100%);
  background-repeat: no-repeat;
  min-height: 800px;
  font-family: 'Exo 2', sans-serif;
}

button {
  cursor: pointer;
}
