.form {
  width: 700px;
  background:
  radial-gradient(circle farthest-side at 0% 50%,#4779B6 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#98C4F4 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#4779B6 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#4779B6 0)0 0,
  linear-gradient(150deg,#4779B6 24%,#98C4F4 0,#98C4F4 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#98C4F4 0,#98C4F4 76%,#4779B6 0)0 0,
  linear-gradient(30deg,#4779B6 24%,#98C4F4 0,#98C4F4 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#98C4F4 0,#98C4F4 76%,#4779B6 0)0 0,
  linear-gradient(90deg,#DADADA 2%,#4779B6 0,#4779B6 98%,#98C4F4 0%)0 0 #4779B6;
  background-size: 40px 60px;
}

.form__button {
  background-color: #99ccff;
  border-color: #e0efff;
}